<!-- Buscador -->
<div class="search">
    <form (submit)="submitLocation(cityName)">
        <input type="text" placeholder="Introduce una ciudad..." #cityName>
        <button class="btn">Enviar</button>
    </form>
</div>

<!-- Nombre y temperatura actual de la ciudad -->
<div class="container" *ngIf="weather">
    <div class="upper-data">
        <img src="../assets/heat.png" *ngIf="weather.main.temp > 25">
        <img src="../assets/cold.png" *ngIf="weather.main.temp <= 25">

        <div class="weather-data">
            <div class="location">{{weather.name}}</div>
            <div class="country">{{weather.sys.country}}</div>
            <div class="temperature">{{weather.main.temp}}°C</div>
        </div>
    </div>

    <!-- Enlace a OpenWeatherMap -->
    <div class="lower-data">
        <div class="more-info-label">
            <a href="https://openweathermap.org/" target='_blank'>Más información...</a>
        </div>

        <!-- Valores específicos de la ciudad -->
        <div class="more-info-container">
            <!-- Temperatura mínima -->
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/frio.png">
                    <span>Temp min</span>
                </div>
                <div class="info-block-value" *ngIf="weather">
                    {{weather.main.temp_min}}°C
                </div>
            </div>

            <!-- Temperatura máxima -->
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/caliente.png">
                    <span>Temp max</span>
                </div>
                <div class="info-block-value" *ngIf="weather">
                    {{weather.main.temp_max}}°C
                </div>
            </div>

            <!-- Humedad -->
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humedad.png">
                    <span>Humedad</span>
                </div>
                <div class="info-block-value" *ngIf="weather">
                    {{weather.main.humidity}}%
                </div>
            </div>

            <!-- Viento -->
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/viento.png">
                    <span>Viento</span>
                </div>
                <div class="info-block-value" *ngIf="weather">
                    {{weather.wind.speed}} km/h
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>